@model AccountAsideInfoModel
@{
    string parentView = ViewData["ViewName"]?.ToString()!;
}

<img src="~/images/avatar.svg" alt="" class="profile-img" />
<h5 class="h5">@Model.FirstName @Model.LastName</h5>
<p class="text-m">@Model.Email</p>
<div class="aside-button-wrapper">
    <a class="@(parentView == "details" ? "btn-transparent aside-button active" : "btn-transparent aside-button")" asp-controller="Account" asp-action="Details"><i class="fa-regular fa-gear"></i> Account Details</a>
    <a class="@(parentView == "security" ? "btn-transparent aside-button active" : "btn-transparent aside-button")" asp-controller="Account" asp-action="Security"><i class="fa-regular fa-lock"></i> Security</a>
    <a class="@(parentView == "courses" ? "btn-transparent aside-button active" : "btn-transparent aside-button")" asp-controller="Account" asp-action="SavedCourses"><i class="fa-regular fa-bookmark"></i> Saved Courses</a>
    <a class="btn-transparent aside-button" asp-controller="Auth" asp-action="SignOut"><i class="fa-solid fa-arrow-right-from-bracket"></i> Sign Out</a>
</div>
