@model ContactViewModel

<section class="section contact-section">
    <div class="content contact-content">
        <div class="right-wrapper">
            <div class="heading-wrapper">
                <h1 class="h1">Contact Us</h1>
            </div>

            <article class="contact-way-wrapper">
                <div class="icon-wrapper">
                    <i class="fa-regular fa-envelope"></i>
                </div>
                <div class="text-wrapper">
                    <h4 class="h4">Email us</h4>
                    <p>Please feel free to drop us a line. We will respond as soon as possible.</p>
                    <a href="/">Leave a message <i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </article>
            <article class="contact-way-wrapper">
                <div class="icon-wrapper">
                    <i class="fa-light fa-users-medical"></i>
                </div>
                <div class="text-wrapper">
                    <h4 class="h4">Careers</h4>
                    <p>Sit ac ipsum leo lorem magna nunc mattis maecenas non vestibulum.</p>
                    <a href="/">Send an application <i class="fa-regular fa-arrow-right"></i></a>
                </div>
            </article>

        </div>
        <form method="post" asp-controller="Home" asp-action="Contact" novalidate class="form-wrapper">
            @if (ViewData["Status"]?.ToString() == "Success")
            {
                <div class="success">
                    <p>Your message has been sent</p>
                    <i class="fa-sharp fa-regular fa-circle-check"></i>
                </div>
            }
            else if (ViewData["Status"]?.ToString() == "Connection Failed")
            {
                <div class="alert">
                    <p>Unable to contact server</p>
                    <i class="fa-solid fa-triangle-exclamation icon"></i>
                </div>
            }
            else if (ViewData["Status"]?.ToString() == "Invalid")
            {
                <div class="alert">
                    <p>Something wrong</p>
                    <i class="fa-solid fa-triangle-exclamation icon"></i>
                </div>
            }
            
            
            <h2 class="h2">Get In Contact With Us</h2>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label" asp-for="@Model.ContactForm.Name"></label>
                    <span class="text-s span" asp-validation-for="@Model.ContactForm.Name"></span>
                </div>
                <input class="input" asp-for="@Model.ContactForm.Name" />
            </div>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label" asp-for="@Model.ContactForm.Email"></label>
                    <span class="text-s span" asp-validation-for="@Model.ContactForm.Email"></span>
                </div>
                <input class="input" asp-for="@Model.ContactForm.Email" />
            </div>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label" asp-for="@Model.ContactForm.Service"></label>
                    <span class="text-s span" asp-validation-for="@Model.ContactForm.Service"></span>
                </div>
                <input class="input" asp-for="@Model.ContactForm.Service" />
            </div>
            <div class="input-wrapper">
                <div class="input-top-wrapper">
                    <label class="h6 label" asp-for="@Model.ContactForm.Message"></label>
                    <span class="text-s span" asp-validation-for="@Model.ContactForm.Message"></span>
                </div>
                <textarea class="input" asp-for="@Model.ContactForm.Message"></textarea>
            </div>
            <button type="submit" class="btn-theme-s">Send Contact Request</button>
        </form>
    </div>
</section>
<section class="map-section">
    <img src="/images/map.svg" alt="" class="bg" />
</section>
