@model CoursesIndexViewModel
@{
    ViewData["Title"] = Model.Title;
    var savedCourses = Model.CoursesSection.SavedCoursesList;

}

@foreach (var course in Model.CoursesSection.CourseList)
{
    bool isCourseSaved = savedCourses.Contains(course.Id);

    <article onclick="location.href='@Url.Action("Details", "Courses", new {id = course.Id})'" class="card shadow-s">
        <div class="top-wrapper">
            <img src="~/images/@course.ImageName" alt="" class="img" />
            @if (course.IsBestseller)
            {
                <span class="card-badge text-s">Best Seller</span>
            }
            @if (isCourseSaved)
            {
                <a asp-action="RemoveCourse" asp-controller="Courses" asp-route-courseId="@course.Id" class="card-save"><i class="fa-solid fa-bookmark"></i></a> 
            }
            else
            {
                <a asp-action="JoinCourse" asp-controller="Courses" asp-route-courseId="@course.Id" class="card-save"><i class="fa-regular fa-bookmark"></i></a>    
            }
        </div>
        <div class="bottom-wrapper">
            <div class="text-wrapper">
                <h5 class="h5">@course.Title</h5>
                <p class="text-s">@course.Author</p>
                @if (course.DiscountPrice != null)
                {
                    <div class="price-wrapper">
                        <p class="h6 discount">$@course.DiscountPrice </p>
                        <p class="h6 ord">$@course.Price</p>
                        <br />
                    </div>
                }
                else
                {
                    <p class="h6">$@course.Price</p>
                }
            </div>
            <div class="meta-wrapper">
                <p class="text-s"><i class="fa-light fa-clock"></i> @course.Hours hours</p>
                <p class="text-s"><i class="fa-light fa-thumbs-up"></i> @course.LikesInPercent % (@course.LikesInNumbers K)</p>
            </div>
        </div>
    </article>
}
