@model CoursesIndexViewModel
@{
    ViewData["Title"] = Model.Title;
}

@foreach (var item in Model.CoursesSection.CourseList)
{
    <article class="card shadow-s">
        <div class="top-wrapper">
            <img src="./images/course.svg" alt="" class="img" />
            @* <img src="@item.ImageName" alt="" class="img" /> *@
            @if (item.IsBestseller)
            {
                <span class="card-badge text-s">Best Seller</span>
            }
            <span class="card-save"><i class="fa-regular fa-bookmark"></i></span>
        </div>
        <div class="bottom-wrapper">
            <div class="text-wrapper">
                <h5 class="h5">@item.Title</h5>
                <p class="text-s">@item.Author</p>
                <p class="h6">$@item.Price</p>
            </div>
            <div class="meta-wrapper">
                <p class="text-s"><i class="fa-light fa-clock"></i> @item.Hours hours</p>
                <p class="text-s"><i class="fa-light fa-thumbs-up"></i> @item.LikesInPercent % (@item.LikesInNumbers K)</p>
            </div>
        </div>
    </article>
}


@* <article class="card shadow-s">
    <div class="top-wrapper">
        <img src="./images/course.svg" alt="" class="img" />
        <span class="card-badge text-s">Best Seller</span>
        <span class="card-save"><i class="fa-regular fa-bookmark"></i></span>
    </div>
    <div class="bottom-wrapper">
        <div class="text-wrapper">
            <h5 class="h5">Fullstack Web Developer Course From Scratch</h5>
            <p class="text-s">By Robert Fox</p>
            <p class="h6">$12.50</p>
        </div>
        <div class="meta-wrapper">
            <p class="text-s"><i class="fa-light fa-clock"></i> 220 hours</p>
            <p class="text-s"><i class="fa-light fa-thumbs-up"></i> 94% (4.2K)</p>
        </div>
    </div>
</article>
<article class="card shadow-s">
    <div class="top-wrapper">
        <img src="./images/course.svg" alt="" class="img" />
        <span class="card-badge text-s">Best Seller</span>
        <span class="card-save"><i class="fa-regular fa-bookmark"></i></span>
    </div>
    <div class="bottom-wrapper">
        <div class="text-wrapper">
            <h5 class="h5">Fullstack Web Developer Course From Scratch</h5>
            <p class="text-s">By Robert Fox</p>
            <p class="h6">$12.50</p>
        </div>
        <div class="meta-wrapper">
            <p class="text-s"><i class="fa-light fa-clock"></i> 220 hours</p>
            <p class="text-s"><i class="fa-light fa-thumbs-up"></i> 94% (4.2K)</p>
        </div>
    </div>
</article>
<article class="card shadow-s">
    <div class="top-wrapper">
        <img src="./images/course.svg" alt="" class="img" />
        <span class="card-badge text-s">Best Seller</span>
        <span class="card-save"><i class="fa-regular fa-bookmark"></i></span>
    </div>
    <div class="bottom-wrapper">
        <div class="text-wrapper">
            <h5 class="h5">Fullstack Web Developer Course From Scratch</h5>
            <p class="text-s">By Robert Fox</p>
            <p class="h6">$12.50</p>
        </div>
        <div class="meta-wrapper">
            <p class="text-s"><i class="fa-light fa-clock"></i> 220 hours</p>
            <p class="text-s"><i class="fa-light fa-thumbs-up"></i> 94% (4.2K)</p>
        </div>
    </div>
</article>
<article class="card shadow-s">
    <div class="top-wrapper">
        <img src="./images/course.svg" alt="" class="img" />
        <span class="card-badge text-s">Best Seller</span>
        <span class="card-save"><i class="fa-regular fa-bookmark"></i></span>
    </div>
    <div class="bottom-wrapper">
        <div class="text-wrapper">
            <h5 class="h5">Fullstack Web Developer Course From Scratch</h5>
            <p class="text-s">By Robert Fox</p>
            <p class="h6">$12.50</p>
        </div>
        <div class="meta-wrapper">
            <p class="text-s"><i class="fa-light fa-clock"></i> 220 hours</p>
            <p class="text-s"><i class="fa-light fa-thumbs-up"></i> 94% (4.2K)</p>
        </div>
    </div>
</article> *@
