@model CoursesDetailsViewModel
@{
    ViewData["Title"] = Model.Title;
    ViewData["ViewName"] = Model.ViewName;
}

<section class="section single-course-top-section" style="background-image: url('../../../images/@Model.Course.ImageName'); background-size: cover;">
    @await Html.PartialAsync("~/Views/Partials/Sections/_BreadcrumbsSection.cshtml", ViewData["ViewName"])

    <div class="content">
        <div class="badge-wrapper">
            @if (Model.Course.IsBestseller)
            {
                <p class="is-bestseller">Best Seller</p>
            }
            <p class="type">Digital</p>
        </div>
        <h1 class="h1">@Model.Course.Title</h1>
        <p>Egestas feugiat lorem eu neque suspendisse ullamcorper scelerisque aliquam mauris.</p>
        <div class="meta-wrapper">
            <p class="text-m">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-regular fa-star"></i>
                (1.21K reviews)
            </p>
            <p>|</p>
            <p class="text-m"><i class="fa-light fa-thumbs-up"></i> @Model.Course.LikesInNumbers K likes</p>
            <p>|</p>
            <p class="text-m"><i class="fa-light fa-clock"></i> @Model.Course.Hours hours</p>
        </div>
        <div class="author-wrapper">
            <img src="/images/profile_image.svg" alt="">
            <div>
                <p class="h6">Created by</p>
                <p class="text-m">@Model.Course.Author</p>
            </div>
        </div>
    </div>
</section>

<section class="section single-course-info-section">
    <div class="content">
        <div class="top-wrapper">
            <div class="right-wrapper">
                <h1 class="h1">Course Description</h1>
                <p class="text-m">Suspendisse natoque sagittis, consequat turpis. Sed tristique tellus morbi magna. At vel senectus accumsan, arcu mattis id tempor. Tellus sagittis, euismod porttitor sed tortor est id. Feugiat velit velit, tortor ut. Ut libero cursus nibh lorem urna amet tristique leo. Viverra lorem arcu nam nunc at ipsum quam. A proin id sagittis dignissim mauris condimentum ornare. Tempus mauris sed dictum ultrices.</p>
                <h3 class="h3 learning-heading">What you'll learn</h3>
                <div class="learning-wrapper">
                    <div class="learning">
                        <i class="fa-regular fa-circle-check"></i>
                        <p class="text-m">Sed lectus donec amet eu turpis interdum.</p>
                    </div>
                    <div class="learning">
                        <i class="fa-regular fa-circle-check"></i>
                        <p class="text-m">Nulla at consectetur vitae dignissim porttitor.</p>
                    </div>
                    <div class="learning">
                        <i class="fa-regular fa-circle-check"></i>
                        <p class="text-m">Phasellus id vitae dui aliquet mi.</p>
                    </div>
                    <div class="learning">
                        <i class="fa-regular fa-circle-check"></i>
                        <p class="text-m">Integer cursus vitae, odio feugiat iaculis aliquet diam, et purus.</p>
                    </div>
                    <div class="learning">
                        <i class="fa-regular fa-circle-check"></i>
                        <p class="text-m">In aenean dolor diam tortor orci eu.</p>
                    </div>
                </div>
            </div>

            <aside class="aside">
                <h4 class="h4">This course includes:</h4>
                <div class="includes-wrapper">
                    <div class="include">
                        <i class="fa-light fa-clapperboard-play"></i>
                        <p class="text-m">@Model.Course.Hours hours on-demand video</p>
                    </div>
                    <div class="include">
                        <i class="fa-light fa-newspaper"></i>
                        <p class="text-m">18 articles</p>
                    </div>
                    <div class="include">
                        <i class="fa-regular fa-download"></i>
                        <p class="text-m">25 downloadable resources</p>
                    </div>
                    <div class="include">
                        <i class="fa-regular fa-infinity"></i>
                        <p class="text-m">Full lifetime access</p>
                    </div>
                    <div class="include">
                        <i class="fa-regular fa-trophy"></i>
                        <p class="text-m">Certificate of completion</p>
                    </div>
                </div>
                <div class="price-wrapper">
                    @if(Model.Course.DiscountPrice != null){
                        <p class="h2">$@Model.Course.DiscountPrice</p>
                        <p class="text-xl discount">$@Model.Course.Price</p>
                        
                    } else
                    {
                        <p class="h2">$@Model.Course.Price</p>
                    }
                </div>
                <a asp-action="JoinCourse" asp-controller="Courses" asp-route-courseId="@Model.Course.Id" class="btn-theme-s">Join course</a>
            </aside>
        </div>

        <div class="bottom-wrapper">
            <h1 class="h1 details-heading">Program Details</h1>
            <div class="details-wrapper">
                <div class="detail">
                    <p class="number h4">1</p>
                    <div class="detail-info-wrapper">
                        <h4 class="h4">Introduction. Getting started</h4>
                        <p class="text-m">Nulla faucibus mauris pellentesque blandit faucibus non. Sit ut et at suspendisse gravida hendrerit tempus placerat.</p>
                    </div>
                </div>
                <div class="detail">
                    <p class="number h4">2</p>
                    <div class="detail-info-wrapper">
                        <h4 class="h4">The ultimate HTML developer: advanced HTML</h4>
                        <p class="text-m">Lobortis diam elit id nibh ultrices sed penatibus donec. Nibh iaculis eu sit cras ultricies. Nam eu eget etiam egestas donec scelerisque ut ac enim. Vitae ac nisl, enim nec accumsan vitae est.</p>
                    </div>
                </div>
                <div class="detail">
                    <p class="number h4">3</p>
                    <div class="detail-info-wrapper">
                        <h4 class="h4">CSS & CSS3: basic</h4>
                        <p class="text-m">Duis euismod enim, facilisis risus tellus pharetra lectus diam neque. Nec ultrices mi faucibus est. Magna ullamcorper potenti elementum ultricies auctor nec volutpat augue.</p>
                    </div>
                </div>
                <div class="detail">
                    <p class="number h4">4</p>
                    <div class="detail-info-wrapper">
                        <h4 class="h4">JavaScript basics for beginners</h4>
                        <p class="text-m">Morbi porttitor risus imperdiet a, nisl mattis. Amet, faucibus eget in platea vitae, velit, erat eget velit. At lacus ut proin erat.</p>
                    </div>
                </div>
                <div class="detail">
                    <p class="number h4">5</p>
                    <div class="detail-info-wrapper">
                        <h4 class="h4">Understanding APIs</h4>
                        <p class="text-m">Risus morbi euismod in congue scelerisque fusce pellentesque diam consequat. Nisi mauris nibh sed est morbi amet arcu urna. Malesuada feugiat quisque consectetur elementum diam vitae. Dictumst facilisis odio eu quis maecenas risus odio fames bibendum.</p>
                    </div>
                </div>
                <div class="detail">
                    <p class="number h4">6</p>
                    <div class="detail-info-wrapper">
                        <h4 class="h4">C# and .NET from beginner to advanced</h4>
                        <p class="text-m">Quis risus quisque diam diam. Volutpat neque eget eu faucibus sed urna fermentum risus. Est, mauris morbi nibh massa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section single-course-author-section">
    <div class="content">
        <div class="text-wrapper">
            <div class="text-content">
                <p class="text-xl intro-span">Learn from the best</p>
                <h1 class="h1 heading">@Model.Course.Author</h1>
                <p class="text-m copy">Dolor ipsum amet cursus quisque porta adipiscing. Lorem convallis malesuada sed maecenas. Ac dui at vitae mauris cursus in nullam porta sem. Quis pellentesque elementum ac bibendum. Nunc aliquam in tortor facilisis. Vulputate eget risus, metus phasellus. Pellentesque faucibus amet, eleifend diam quam condimentum convallis ultricies placerat. Duis habitasse placerat amet, odio pellentesque rhoncus, feugiat at. Eget pellentesque tristique felis magna fringilla.</p>
                <div class="meta-wrapper">
                    <p class="meta-yt"><i class="fa-brands fa-youtube"></i> 240k subscribers</p>
                    <p class="meta-fb"><i class="fa-brands fa-facebook"></i> 180k followers</p>
                </div>
            </div>
        </div>
        <div class="img-wrapper">
            <img src="/images/profile_image_square.svg" alt="" class="author-img">
        </div>
    </div>
</section>

